<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <!-- main header -->
    <div class="conatiner main_header">
        <div class="row" id="row1">
            <div class="col-md-10 col-6 mx-auto">  
              
                    <!-- right side div -->
                 <div class="conatiner main_header">
                    <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                            <div class="main_content">
                                <form class="temp_form">
                                    <input type="text" id="getCityname" placeholder="Enter your city name" autocomplete="off">
                                    <input type="submit" value="search" id="submitbtn">
                                </form> 
                            </div>
                            <div class="tempInfo">
                                <div class="top_layer">
                                    <div id="day">tuesday</div>
                                    <div id="today_date">3/2/2023</div>
                                </div>
                                <div class="main_layer ">
                                    <p id="city_name"></p>
                                    <div class="middle_layer data_hide">
                                        <p id="temp"><span id=temp_value>0</span><sup>o</sup>C</p>
                                        <p id="temp_status"><i class="fa-solid fa-cloud-sun"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                 </div>
            </div>
        </div>
    </div>
    </div>
    <footer id="footerWeather">
        <p>created by sneh â¤ï¸</p>
    </footer>

   <script src="js/main.js"></script>
   <script src="js/date.js"></script>

</body> 
</html>